OPENAI_API_KEY="..."
MISTRAL_API_KEY="..."
ANTHROPIC_API_KEY="..."
FLASK_PORT=5000
FLASK_RUN_PORT=5000
FLASK_SERVER_URL="https://127.0.0.1:5000"
GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
GOOGLE_REDIRECT_URI="https://127.0.0.1:5000/google_login/callback"
HEYMANS_DUMMY_MODEL="0"
BRIGHTSPACE_CLIENT_ID="..."
BRIGHTSPACE_CLIENT_SECRET="..."
BRIGHTSPACE_REDIRECT_URI="https://127.0.0.1:5000/brightspace_login/callback"
BRIGHTSPACE_SCOPE="core:*:* custom:lastquizattempt:read enrollment:*:read grades:gradeobjects:read,write grades:gradevalues:read,write quizzing:*:read"
BRIGHTSPACE_LMS_URL="..."
