<!-- top banner with logos -->
<!-- TODO: LTI-modular: course 'name' pulled from brightspace. -->
<div class="header-banner">

  <img src="{{ url_for('static', filename='university-logo--en.svg') }}" alt="University Logo" class="logo">

  <div> Introduction to psychology </div>
  <img src="{{ url_for('static', filename='Dall-E_heymans.svg') }}" alt="Profile Drawing" class="profile">
</div>


<!-- top menu with functionality -->
<!-- TODO: LTI-modular;  role of viewer -->
<div class="top-menu">
  <ul>
    <li><a href="#"> Assignments </a></li>
    <li><a href="#"> Knowledge Base </a></li>
    <li><a href="#"> Quiz Grading </a></li>
  </ul>
</div>
<div class="divider"></div>

<!-- Js script that will implement this modularity: -->
<!-- <script src="{{ url_for('static', filename='js/common.js') }}"></script> -->
