<!-- top banner with logos -->
<div class="header-banner">

  <img src="{{ url_for('static', filename='university-logo--en.svg') }}" alt="University Logo" class="logo">

  <div>Heymans AI</div>

  {% if session.name %}
    <div class="user-banner">
      <span class="username">{{ session.name }}</span>
      <a href="{{ url_for('app.logout') }}" class="regular-button">Log out</a>
    </div>
  {% endif %}

  <img src="{{ url_for('static', filename='Dall-E_heymans.svg') }}" alt="Profile Drawing" class="profile">
</div>

<!-- top menu with functionality -->
<div class="top-menu">
  <ul>
    <li><a href="#"> Quiz Grading </a></li>
    <li><a href="#"> Assignments </a></li>
    <li><a href="#"> Knowledge Base </a></li>
  </ul>
</div>
<div class="divider"></div>
