<!DOCTYPE html>
<html>
<!-- top banner with logos -->
<div class="header-banner">
  <img src="../static/university-logo--en.svg" alt="University Logo" class="logo">
  <img src="../static/Dall-E_heymans.svg" alt="Profile Drawing" class="profile">
</div>


<!-- course banner -->
<!-- modular; dependent on requesting page -->
<div class="course-title">
  <em>Course: <strong>Introduction to psychology</strong></em>
</div>

<div class="top-menu">
  <ul>
    <li><a href="#"> Assignments </a></li>
    <li><a href="#"> Knowledge Base </a></li>
    <li><a href="#"> Quiz Grading </a></li>
  </ul>
</div>

<!-- top menu -->
<!-- modular; dependent on role of viewer -->
<div class="divider"></div>

</html>
