{% raw %}
<div id="app">
<div class='container'>
  <div class="left-menu">
    <h3 @click="triggerFileUpload">New Quiz</h3>
    <!-- Empty element that processes new file: -->
    <input id="file-upload" type="file" @change="handleQuizUpload" accept=".json" style="display: none;">

    <h3 @click="fetchQuizList"> Refresh Quiz list </h3>
    <!-- list of quizzes: -->
    <ul>
      <!-- populate with v-for; change class if item=selected -->
      <li 
          v-for="quiz in quizList" 
          :key="quiz.quiz_id" 
          @click="pollGradingStatus(quiz.quiz_id)" 
          :class="{ selected: quiz.quiz_id === quizSelected }"
        >        {{ quiz.name }}
      </li>
    </ul>
  </div> <!-- ends left-menu -->

  <!-- main content: show (selected quiz) and result(s) -->
  <div class="main-content"  v-if="quizList.length > 0">

    <h2> Quiz {{quizSelected}}: {{quizList[quizSelected-1].name}}</h2>
    
    <p>Grading Status: {{ gradingStatus }}</p>

    <!-- TODO: make grading status a 'traffic light' symbol as part of the h2 , in white, orange, red?-->
    <!-- Grade Quiz button -->
    <button class="llm-button" @click="startGrading" :disabled="isGrading">
      Grade Quiz
    </button>

    <!-- Display the result of grading: -->
    <h2>Quiz (& grading result)</h2>
    <pre>{{ gradingResult }}</pre>

    <!-- Overlay to show errors: -->
    <div id="overlay" class="overlay">
      <div class="overlay-content">
        <span class="alarm-symbol">⚠️</span>
        <p id="overlay-message"></p>
        <button class="regular-button" @click='closeOverlay'>Close</button>
      </div>
    </div>


  </div> <!-- ends the main-content -->
</div> <!-- ends the flex container -->
</div> <!-- ends the app -->
{% endraw %}