{% raw %}
<div id="app">
<!-- make the div with all the quizzes in the db -->
  <!-- <button @click="fetchQuizList">Refresh Quiz List</button> -->

<!-- make the overview div: how to make a quiz/upload? -->
<div class='container'>
  <div class="left-menu">
    <h3 @click="triggerFileUpload">New Quiz</h3>
    <!-- Empty element that get's triggered by prev item.If item changes, file is processed -->
    <input id="file-upload" type="file" @change="handleQuizUpload" accept=".json" style="display: none;">

    <h3 @click="fetchQuizList">Refresh Quiz list</h3>
    <!-- list of quizzes: -->
    <ul>
      <!-- populate with v-for; change class if item=selected -->
      <li 
          v-for="quiz in quizList" 
          :key="quiz.quiz_id" 
          @click="pollGradingStatus(quiz.quiz_id)" 
          :class="{ selected: quiz.quiz_id === quizSelected }"
        >        {{ quiz.name }}
      </li>
    </ul>
  </div>

  <div class="main-content"  v-if="quizList.length > 0">
    <h2> Quiz {{quizSelected}}: {{quizList[quizSelected-1].name}}</h2>
    <p>Grading Status: {{ gradingStatus }}</p>
    <!-- TODO: make grading status a 'traffic light' symbol as part of the h2 , in white, orange, red?-->
    <!-- Grade Quiz button -->
    <!-- <button id="sendButton" @click="startGrading"> -->
    <button id="sendButton" @click="startGrading" :disabled="isGrading">
      Grade Quiz
    </button>

    <h2>Quiz (& grading result)</h2>
    <pre>{{ gradingResult }}</pre>
    </div>
</div>
{% endraw %}

<script src="https://unpkg.com/vue@3"></script>